<div class="jumbotron text-center">
    <div class="display-3">
        {{ name }}
    </div>
    <p class="lead"> Here u can Track Traine details</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg"> Add ideas</a>
</div>